
{% extends 'base.html' %}
{% block body %}
{% load static %}

    

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        // $(document).ready(function()

        // {
        //     var amount;
        //     var total=0;
        //     $('td:nth-child(2)').each(function()

        //     {

        //         amount=$(this).html()
        //         total+=parseInt(amount);
        //         $('#totalamount').text(total);

        //     });
        // });

        

    </script>

<style>

thead th {
border: .5px solid rgba(255, 255, 255, .3); ;


}
.table-row{
cursor:pointer;
}
.table-row:hover{
background-color: rgb(216, 155, 51);
}
.table-row1{
cursor:pointer;
}
.table-row1:hover{
background-color: rgb(216, 155, 51);
}
.btn{
border: 1px solid rgb(103, 175, 220);
/* height: 30px;
text-align: center; */

width: 95%;



}
.table1{
border: 1px solid rgb(103, 175, 220);
}
.selected{background-color:  rgb(216, 155, 51);color: #fff;font-weight: bold
}
.selected1 {
background-color:  rgb(77, 154, 242);
}
    
</style>
<style>
    .enter{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .month
    {
        
        display: grid;
        margin-left: 10px;
        font-size:medium
    }
    .text{
        text:center;
    }
    a:hover {
  background-color: rgb(255, 196, 0);
}


</style>
<script>
function setPeriod(){

    console.log('hi')
    document.getElementById("fdate").defaultValue= "2022-04-01"
    document.getElementById('ldate').defaultValue= "2022-04-30"
    var f = document.getElementById('fdate').value;
    var l = document.getElementById('ldate').value;
    
    
}
/*
function select(){
    var x=document.getElementById("tr");
    x[0],innerHTML="hello";
    x[0].style.backgroundColor="Blue";
}*/
</script>

<div class="row container-fluid p-0 mx-0 justify-content-center">
    <div class="col-sm-10 p-0" style="background-color:rgba(0,0,0,0.2);height: 100%;">
        <div hidden id="cid">{{ com.id }}</div>
        <div  class="bg-info text-light">&nbsp; &nbsp;  stock summary<span style="margin-left: 40%;">{{cmp.name}}</span></div>
        <div class="row container-fluid m-0 mt-4 w-100 p-0">
            <span class="card border-bottom border-top w-75 rounded-0 contra_head">
                <div class="card-body">
                    <div class="card-text mt-3"><b>P a r t i c u l a r s</b></div>
                </div>
            </span>
            <span class="card border w-25 text-center rounded-0 contra_head">
                <div class="card-body p-0">
                    <div class="card-title border-bottom mb-0">
                    
                        <i id="Vname"></i><br><b>{{cmp.name}}</b><br>For 
                        
                    </div>
                    
                    <div class="card-text border-bottom">
                        <b>Closing Balance</b>
                    </div>
                    <div class="card-text row container-fluid p-0 ml-1">
                        <span class="col-sm-4 border-right p-0">Quantity</span>
                        <span class="col-sm-4 border-right p-0">Rate</span>
                        <span class="col-sm-4 p-0">Value</span>
                    </div>
                </div>
            </span>
        </div>
<script>
    document.getElementById("currentDate").innerHTML=new Date().toDateString();
    function setDate(){
            document.getElementById("currentDate").innerHTML= document.getElementById('enterDate').value;
        }
        var table = document.getElementById("table");
            var cells = table.getElementsByTagName("td");
            for (var i = 0; i < cells.length; i++) {
                if(i == 0){
        
                    document.getElementById("compName").innerHTML= cells[0].innerText;
                    setName(cells[0].innerText, cells[1].innerText);
                }
             }
</script>

<div class="row container-fluid m-0 w-100 p-0">
    <table class="table p-0 m-0" id="table" style="background-color: rgba(33,57,77,255);color:#fff;">
        <tbody>
           
           {% for i in stock %}
        
           
            <tr  class="table-row" data-href="{% url 'stockgroupsummary' i.id %}">
                <td class="w-75 m-0 p-0 pl-3">{{ i.name}} </td>
                
                <td class="w-25 m-0 p-0 text-right"><a href="">  {{total}}</a></td>
            </tr>
        
        
            

            {% endfor %}
        </tbody>
    </table>
</div>  

              
                        <!-- <div class="row d-flex ft" >
                            <div class="col "> 
                                <button type="button"  class="btn p-1 py-1" style="float: left;">Quit</button>
                                <button type="button"  class="btn btn1 p-1 py-1" >Select</button>
                                <button type="button"  class="btn btn2 p-1 py-1 "  >Remove Line</button>
                                <button type="button"  class="btn p-1 py-1 " style="float: right;">Restore Line</button>
                            </div>
                        </div> -->
                        <table class="table1 col" style="text-align: center; margin-top: 10px;" >
                            <thead>
                                
                                <th><button type="button"  class="btn p-1 px-4" onclick="myFunction()">Select</button></th>
                                <!-- <th><b  type="button"  class="btn p-1 px-4"  onclick="Delete()" >Delete</button></th> -->
                                <th><button type="button"  class="btn p-1 px-1" onclick="removeSelectedRow()">Remove Line</button></th>
                                <th><a href="" type="button"  class="btn p-1 px-1" >Restore Line</a></th>
                            </thead>
                        </table>
        
        
        
         
                
               
                        


            </div>
        </div>
        
    </div>
    <script>
        $(document).ready(function($) {
            $(".table-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });
    </script>
<script>

    var index;  // variable to set the selected row index
    function getSelectedRow()
    {
        var table = document.getElementById("table");
        for(var i = 1; i < table.rows.length; i++)
        {
            table.rows[i].onclick = function()
            {
                // clear the selected from the previous selected row
                // the first time index is undefined
                if(typeof index !== "undefined"){
                    table.rows[index].classList.toggle("selected");
                }

                index = this.rowIndex;
                this.classList.toggle("selected");


            };
        }

    }


    getSelectedRow();







</script>

<script>


function myFunction() {
 var se = document.getElementsByClassName('selected');
 se[0].style.backgroundColor = "lightblue";

}
    </script>


<style>
    .trhover:hover{
        background-color: rgb(235, 226, 96);
    }
    </style>

{% endblock %}

